rect:hover, path:hover {
    fill: yellow !important;
    cursor: pointer;
}

.social {
    fill: coral;
    fill-opacity: .5;
}

.meeting {
    fill: cyan;
    fill-opacity: .5;
}

.desk {
    fill: green;
    fill-opacity: .5;
}

.enclave {
    fill: darkblue;
    fill-opacity: .5;
}

.mapContainer {
    width: 1000px;
    height: 575px;
    cursor: grab;
    overflow: hidden;
}

.occupied {
    fill: red;
    fill-opacity: .5;
}

