rect:hover, path:hover {
    fill: yellow !important;
    cursor: pointer;
}

.lab {
    fill: coral !important;
    fill-opacity: .5;
}

.office {
    fill: cyan !important;
    fill-opacity: .5;
}

.class {
    fill: green !important;
    fill-opacity: .5;
}

.extra {
    fill: darkblue !important;
    fill-opacity: .5;
}

.mapContainer {
    width: 1000px;
    height: 575px;
    cursor: grab;
    overflow: hidden;
}

.occupied {
    fill: red !important;
    fill-opacity: .5;
}

