<form>
    <label for="Floors">Choose a floor:</label>
    <select name="floors" id="floors">
        <option></option>
        <option value="1">Floor 1</option>
        <option value="4">Floor 4</option>
        <option value="5">Floor 5</option>
        <option value="6">Floor 6</option>
        <option value="7">Floor 7</option>
    </select>
    <input onclick="setFloor()" type="button" value="Submit" />
</form>
@if (Request.IsAuthenticated)
{
    <input onclick="fillDB()" type="button" value="Refill DB" />
}

<input id="test" min="10" max="25" value='10' step="1" onchange="showVal(this.value)" type="range" />